@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

dl,
ol,
ul {
  padding: 0;
  margin: 0;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.mhz-docs {
  line-height: 1.3;
}

@supports (padding-top: clamp( 1.875rem , 0.7708333333rem  +  3.6805555556vw , 5.1875rem )) {
  .mhz-docs__container {
    padding-top: clamp( 1.875rem , 0.7708333333rem  +  3.6805555556vw , 5.1875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.7708333333rem  +  3.6805555556vw , 5.1875rem )) {
  .mhz-docs__container {
    padding-top: calc(1.875rem + 3.3125 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -4.7397006765rem  +  9.8872505637vw , 7.125rem )) {
  .mhz-docs__container {
    padding-bottom: clamp( 0.0000000625rem , -4.7397006765rem  +  9.8872505637vw , 7.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -4.7397006765rem  +  9.8872505637vw , 7.125rem )) {
  .mhz-docs__container {
    padding-bottom: calc(0.0000000625rem + 7.1249999375 * (100vw - 47.9375rem) / 72.0625);
  }
}

@supports (margin-bottom: clamp( 1.3125rem , 2.8958333333rem  +  -1.3194444444vw , 2.5rem )) {
  .mhz-docs__head:not(:last-child) {
    margin-bottom: clamp( 1.3125rem , 2.8958333333rem  +  -1.3194444444vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.3125rem , 2.8958333333rem  +  -1.3194444444vw , 2.5rem )) {
  .mhz-docs__head:not(:last-child) {
    margin-bottom: calc(2.5rem + -1.1875 * (100vw - 30rem) / 90);
  }
}

.mhz-docs__title {
  font-weight: 700;
}

@supports (font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem )) {
  .mhz-docs__title {
    font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem )) {
  .mhz-docs__title {
    font-size: calc(1.25rem + 1.75 * (100vw - 30rem) / 90);
  }
}

.mhz-docs__body {
  position: relative;
}

.spollers-docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spollers-docs__item {
  display: -ms-grid;
  display: grid;
}

.spollers-docs__title {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #eee;
  padding: 1.1875rem 0.875rem;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
}

.spollers-docs__title::before {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
  width: 1.5625rem;
  height: 1.5625rem;
  background-image: url(../img/docs_title_black.png);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers-docs__title::after {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.9375rem;
          flex: 0 0 0.9375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border-right: 0.125rem solid #000;
  border-bottom: 0.125rem solid #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers-docs__title span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}

.spollers-docs__title._spoller-active {
  color: #fff;
  background-color: #E83232;
}

.spollers-docs__title._spoller-active::before {
  background-image: url(../img/docs_title_white.png);
}

.spollers-docs__title._spoller-active::after {
  border-color: #fff;
}

.spollers-docs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (padding-top: clamp( 0.5rem , 0.3336947095rem  +  0.3469210755vw , 0.75rem )) {
  .spollers-docs__body {
    padding-top: clamp( 0.5rem , 0.3336947095rem  +  0.3469210755vw , 0.75rem );
  }
}

@supports not (padding-top: clamp( 0.5rem , 0.3336947095rem  +  0.3469210755vw , 0.75rem )) {
  .spollers-docs__body {
    padding-top: calc(0.5rem + 0.25 * (100vw - 47.9375rem) / 72.0625);
  }
}

.spollers-docs__body a {
  padding: 0.75rem 0;
  color: #3291E8;
}

@supports (--nwspt: clamp( 2.3125rem , 1.3125rem  +  3.3333333333vw , 5.3125rem )) {
  :root {
    --nwspt: clamp( 2.3125rem , 1.3125rem  +  3.3333333333vw , 5.3125rem );
  }
}

@supports not (--nwspt: clamp( 2.3125rem , 1.3125rem  +  3.3333333333vw , 5.3125rem )) {
  :root {
    --nwspt: calc(2.3125rem + 3 * (100vw - 30rem) / 90);
  }
}

.novosti {
  padding-top: var(--nwspt);
}

.novosti__container {
  position: relative;
  z-index: 2;
}

.hero-novosti__main {
  border-bottom: 1px solid #333;
}

@supports (padding-top: clamp( 0.0000000625rem , -1.6630528014rem  +  3.4692106678vw , 2.5rem )) {
  .hero-novosti__main {
    padding-top: clamp( 0.0000000625rem , -1.6630528014rem  +  3.4692106678vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.6630528014rem  +  3.4692106678vw , 2.5rem )) {
  .hero-novosti__main {
    padding-top: calc(0.0000000625rem + 2.4999999375 * (100vw - 47.9375rem) / 72.0625);
  }
}

@supports (padding-bottom: clamp( 1rem , 0.0021682567rem  +  2.0815264527vw , 2.5rem )) {
  .hero-novosti__main {
    padding-bottom: clamp( 1rem , 0.0021682567rem  +  2.0815264527vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , 0.0021682567rem  +  2.0815264527vw , 2.5rem )) {
  .hero-novosti__main {
    padding-bottom: calc(1rem + 1.5 * (100vw - 47.9375rem) / 72.0625);
  }
}

@supports (margin-bottom: clamp( 1.0625rem , 0.75rem  +  1.0416666667vw , 2rem )) {
  .hero-novosti__head:not(:last-child) {
    margin-bottom: clamp( 1.0625rem , 0.75rem  +  1.0416666667vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 1.0625rem , 0.75rem  +  1.0416666667vw , 2rem )) {
  .hero-novosti__head:not(:last-child) {
    margin-bottom: calc(1.0625rem + 0.9375 * (100vw - 30rem) / 90);
  }
}

.hero-novosti__title {
  color: #E83232;
  font-weight: 700;
  margin: 0;
}

@supports (font-size: clamp( 1.1875rem , 0.9166666667rem  +  0.9027777778vw , 2rem )) {
  .hero-novosti__title {
    font-size: clamp( 1.1875rem , 0.9166666667rem  +  0.9027777778vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.1875rem , 0.9166666667rem  +  0.9027777778vw , 2rem )) {
  .hero-novosti__title {
    font-size: calc(1.1875rem + 0.8125 * (100vw - 30rem) / 90);
  }
}

.hero-novosti__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1rem , 0.8333333333rem  +  0.5555555556vw , 1.5rem )) {
  .hero-novosti__links ul {
    gap: clamp( 1rem , 0.8333333333rem  +  0.5555555556vw , 1.5rem );
  }
}

@supports not (gap: clamp( 1rem , 0.8333333333rem  +  0.5555555556vw , 1.5rem )) {
  .hero-novosti__links ul {
    gap: calc(1rem + 0.5 * (100vw - 30rem) / 90);
  }
}

.hero-novosti__links ul a {
  font-weight: 700;
  color: #1A1A1A;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (padding-top: clamp( 1rem , 0.5625rem  +  1.4583333333vw , 2.3125rem )) {
  .hero-novosti__lorem {
    padding-top: clamp( 1rem , 0.5625rem  +  1.4583333333vw , 2.3125rem );
  }
}

@supports not (padding-top: clamp( 1rem , 0.5625rem  +  1.4583333333vw , 2.3125rem )) {
  .hero-novosti__lorem {
    padding-top: calc(1rem + 1.3125 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 0.75rem , 0.2291666667rem  +  1.7361111111vw , 2.3125rem )) {
  .hero-novosti__lorem {
    padding-bottom: clamp( 0.75rem , 0.2291666667rem  +  1.7361111111vw , 2.3125rem );
  }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.2291666667rem  +  1.7361111111vw , 2.3125rem )) {
  .hero-novosti__lorem {
    padding-bottom: calc(0.75rem + 1.5625 * (100vw - 30rem) / 90);
  }
}

.hero-novosti__subtitle {
  color: #E83232;
  font-weight: 600;
}

@supports (font-size: clamp( 0.75rem , 0.625rem  +  0.4166666667vw , 1.125rem )) {
  .hero-novosti__subtitle {
    font-size: clamp( 0.75rem , 0.625rem  +  0.4166666667vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.625rem  +  0.4166666667vw , 1.125rem )) {
  .hero-novosti__subtitle {
    font-size: calc(0.75rem + 0.375 * (100vw - 30rem) / 90);
  }
}

.hero-novosti__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.hero-novosti__text {
  line-height: 1.5;
  color: #666666;
}

@supports (font-size: clamp( 0.4375rem , 0.25rem  +  0.625vw , 1rem )) {
  .hero-novosti__text {
    font-size: clamp( 0.4375rem , 0.25rem  +  0.625vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.4375rem , 0.25rem  +  0.625vw , 1rem )) {
  .hero-novosti__text {
    font-size: calc(0.4375rem + 0.5625 * (100vw - 30rem) / 90);
  }
}

.sidebar-novosti__last {
  border-radius: 0.5rem;
  background-color: #fff;
}

@supports (padding: clamp( 1rem , 0.8958333333rem  +  0.3472222222vw , 1.3125rem )) {
  .sidebar-novosti__last {
    padding: clamp( 1rem , 0.8958333333rem  +  0.3472222222vw , 1.3125rem );
  }
}

@supports not (padding: clamp( 1rem , 0.8958333333rem  +  0.3472222222vw , 1.3125rem )) {
  .sidebar-novosti__last {
    padding: calc(1rem + 0.3125 * (100vw - 30rem) / 90);
  }
}

@supports (--lstnwsimg: clamp( 3.75rem , 3.3333333333rem  +  1.3888888889vw , 5rem )) {
  :root {
    --lstnwsimg: clamp( 3.75rem , 3.3333333333rem  +  1.3888888889vw , 5rem );
  }
}

@supports not (--lstnwsimg: clamp( 3.75rem , 3.3333333333rem  +  1.3888888889vw , 5rem )) {
  :root {
    --lstnwsimg: calc(3.75rem + 1.25 * (100vw - 30rem) / 90);
  }
}

.showmore-novosti__h3 {
  font-weight: 700;
}

@supports (font-size: clamp( 1.125rem , 1.0208333333rem  +  0.3472222222vw , 1.4375rem )) {
  .showmore-novosti__h3 {
    font-size: clamp( 1.125rem , 1.0208333333rem  +  0.3472222222vw , 1.4375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0208333333rem  +  0.3472222222vw , 1.4375rem )) {
  .showmore-novosti__h3 {
    font-size: calc(1.125rem + 0.3125 * (100vw - 30rem) / 90);
  }
}

@supports (margin-bottom: clamp( 1.4375rem , 1.2708333333rem  +  0.5555555556vw , 1.9375rem )) {
  .showmore-novosti__h3:not(:last-child) {
    margin-bottom: clamp( 1.4375rem , 1.2708333333rem  +  0.5555555556vw , 1.9375rem );
  }
}

@supports not (margin-bottom: clamp( 1.4375rem , 1.2708333333rem  +  0.5555555556vw , 1.9375rem )) {
  .showmore-novosti__h3:not(:last-child) {
    margin-bottom: calc(1.4375rem + 0.5 * (100vw - 30rem) / 90);
  }
}

.showmore-novosti__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--lstnwsimg) auto;
  grid-template-columns: var(--lstnwsimg) auto;
  gap: 0.875rem;
}

@supports (padding-bottom: clamp( 1.1875rem , 1.1041666667rem  +  0.2777777778vw , 1.4375rem )) {
  .showmore-novosti__item {
    padding-bottom: clamp( 1.1875rem , 1.1041666667rem  +  0.2777777778vw , 1.4375rem );
  }
}

@supports not (padding-bottom: clamp( 1.1875rem , 1.1041666667rem  +  0.2777777778vw , 1.4375rem )) {
  .showmore-novosti__item {
    padding-bottom: calc(1.1875rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.showmore-novosti__image {
  background-color: #F4F6F8;
  border-radius: 0.375rem;
  overflow: hidden;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  position: relative;
  padding-bottom: 100%;
}

.showmore-novosti__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showmore-novosti__title {
  padding-top: 0.3125rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-weight: 700;
}

@supports (font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem )) {
  .showmore-novosti__title {
    font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem )) {
  .showmore-novosti__title {
    font-size: calc(0.75rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.showmore-novosti__date {
  padding-bottom: 0.3125rem;
  color: #666;
}

@supports (font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem )) {
  .showmore-novosti__date {
    font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem )) {
  .showmore-novosti__date {
    font-size: calc(0.625rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.showmore-novosti__more {
  width: 100%;
  text-align: center;
}

.showmore-novosti__more svg,
.showmore-novosti__more svg * {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tags-novosti {
  line-height: 1.5;
}

@supports (padding-top: clamp( 1.9375rem , 1.8949468085rem  +  0.2127659574vw , 2.0625rem )) {
  .tags-novosti {
    padding-top: clamp( 1.9375rem , 1.8949468085rem  +  0.2127659574vw , 2.0625rem );
  }
}

@supports not (padding-top: clamp( 1.9375rem , 1.8949468085rem  +  0.2127659574vw , 2.0625rem )) {
  .tags-novosti {
    padding-top: calc(1.9375rem + 0.125 * (100vw - 20rem) / 58.75);
  }
}

@supports (padding-bottom: clamp( 1.125rem , 0.2291666667rem  +  2.9861111111vw , 3.8125rem )) {
  .tags-novosti {
    padding-bottom: clamp( 1.125rem , 0.2291666667rem  +  2.9861111111vw , 3.8125rem );
  }
}

@supports not (padding-bottom: clamp( 1.125rem , 0.2291666667rem  +  2.9861111111vw , 3.8125rem )) {
  .tags-novosti {
    padding-bottom: calc(1.125rem + 2.6875 * (100vw - 30rem) / 90);
  }
}

@supports (margin-bottom: clamp( 0.6875rem , 0.3958333333rem  +  0.9722222222vw , 1.5625rem )) {
  .tags-novosti__head:not(:last-child) {
    margin-bottom: clamp( 0.6875rem , 0.3958333333rem  +  0.9722222222vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.6875rem , 0.3958333333rem  +  0.9722222222vw , 1.5625rem )) {
  .tags-novosti__head:not(:last-child) {
    margin-bottom: calc(0.6875rem + 0.875 * (100vw - 30rem) / 90);
  }
}

.tags-novosti__title {
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}

@supports (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .tags-novosti__title {
    font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .tags-novosti__title {
    font-size: calc(1.25rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.tags-novosti__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  row-gap: 0.75rem;
}

.tags-novosti__item {
  color: #fff;
  background-color: #E83232;
  text-align: center;
  border-radius: 0.25rem;
  font-weight: 300;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  border: 1px solid #E83232;
}

@supports (font-size: clamp( 0.6875rem , 0.625rem  +  0.2083333333vw , 0.875rem )) {
  .tags-novosti__item {
    font-size: clamp( 0.6875rem , 0.625rem  +  0.2083333333vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.625rem  +  0.2083333333vw , 0.875rem )) {
  .tags-novosti__item {
    font-size: calc(0.6875rem + 0.1875 * (100vw - 30rem) / 90);
  }
}

@supports (padding: clamp( 0.1875rem , 0.1458333333rem  +  0.1388888889vw , 0.3125rem )) {
  .tags-novosti__item {
    padding: clamp( 0.1875rem , 0.1458333333rem  +  0.1388888889vw , 0.3125rem );
  }
}

@supports not (padding: clamp( 0.1875rem , 0.1458333333rem  +  0.1388888889vw , 0.3125rem )) {
  .tags-novosti__item {
    padding: calc(0.1875rem + 0.125 * (100vw - 30rem) / 90);
  }
}

.news-novosti__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.news-novosti__body:not(:last-child) {
  margin-bottom: 1.875rem;
}

.news-novosti__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 1.4375rem 1.25rem 0.8125rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0625rem;
}

.news-novosti__image {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #eee;
}

@supports (min-height: clamp( 15.3125rem , 13.6875rem  +  5.4166666667vw , 20.1875rem )) {
  .news-novosti__image {
    min-height: clamp( 15.3125rem , 13.6875rem  +  5.4166666667vw , 20.1875rem );
  }
}

@supports not (min-height: clamp( 15.3125rem , 13.6875rem  +  5.4166666667vw , 20.1875rem )) {
  .news-novosti__image {
    min-height: calc(15.3125rem + 4.875 * (100vw - 30rem) / 90);
  }
}

.news-novosti__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-novosti__tags {
  line-height: 1.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

@supports (padding: clamp( 0.9375rem , 0.8333333333rem  +  0.3472222222vw , 1.25rem )) {
  .news-novosti__tags {
    padding: clamp( 0.9375rem , 0.8333333333rem  +  0.3472222222vw , 1.25rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.8333333333rem  +  0.3472222222vw , 1.25rem )) {
  .news-novosti__tags {
    padding: calc(0.9375rem + 0.3125 * (100vw - 30rem) / 90);
  }
}

.news-novosti__tag {
  color: #fff;
  background-color: #E83232;
  text-align: center;
  padding: 0.1875rem;
  border-radius: 0.25rem;
  border: 1px solid #E83232;
  font-weight: 300;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

@supports (min-width: clamp( 5.3125rem , 4.75rem  +  1.875vw , 7rem )) {
  .news-novosti__tag {
    min-width: clamp( 5.3125rem , 4.75rem  +  1.875vw , 7rem );
  }
}

@supports not (min-width: clamp( 5.3125rem , 4.75rem  +  1.875vw , 7rem )) {
  .news-novosti__tag {
    min-width: calc(5.3125rem + 1.6875 * (100vw - 30rem) / 90);
  }
}

.news-novosti__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-novosti__title {
  font-weight: 700;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem )) {
  .news-novosti__title {
    font-size: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem )) {
  .news-novosti__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 30rem) / 90);
  }
}

.news-novosti__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.news-novosti__bottom {
  margin-top: auto;
}

.news-novosti__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-novosti__more {
  display: inline-block;
  color: #fff;
  border-radius: 0.375rem;
  color: #fff;
  background-color: #E83232;
  border: 1px solid #E83232;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding: clamp( 0.625rem , 0.5208333333rem  +  0.3472222222vw , 0.9375rem )) {
  .news-novosti__more {
    padding: clamp( 0.625rem , 0.5208333333rem  +  0.3472222222vw , 0.9375rem );
  }
}

@supports not (padding: clamp( 0.625rem , 0.5208333333rem  +  0.3472222222vw , 0.9375rem )) {
  .news-novosti__more {
    padding: calc(0.625rem + 0.3125 * (100vw - 30rem) / 90);
  }
}

@supports (font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem )) {
  .news-novosti__more {
    font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem )) {
  .news-novosti__more {
    font-size: calc(0.625rem + 0.25 * (100vw - 30rem) / 90);
  }
}

@supports (min-width: clamp( 8.75rem , 7.625rem  +  3.75vw , 12.125rem )) {
  .news-novosti__more {
    min-width: clamp( 8.75rem , 7.625rem  +  3.75vw , 12.125rem );
  }
}

@supports not (min-width: clamp( 8.75rem , 7.625rem  +  3.75vw , 12.125rem )) {
  .news-novosti__more {
    min-width: calc(8.75rem + 3.375 * (100vw - 30rem) / 90);
  }
}

.info-newsNovosti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.875rem , 0.7916666667rem  +  0.2777777778vw , 1.125rem )) {
  .info-newsNovosti {
    gap: clamp( 0.875rem , 0.7916666667rem  +  0.2777777778vw , 1.125rem );
  }
}

@supports not (gap: clamp( 0.875rem , 0.7916666667rem  +  0.2777777778vw , 1.125rem )) {
  .info-newsNovosti {
    gap: calc(0.875rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.info-newsNovosti__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.info-newsNovosti__item svg {
  max-width: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-newsNovosti__item svg * {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-newsNovosti__item_save {
  cursor: pointer;
}

.info-newsNovosti__item_save._active svg path {
  fill: #E83232;
  stroke: #E83232;
}

._mla {
  margin-left: auto;
}

@supports (--athrzm: clamp( 1.875rem , 1.6666666667rem  +  0.6944444444vw , 2.5rem )) {
  :root {
    --athrzm: clamp( 1.875rem , 1.6666666667rem  +  0.6944444444vw , 2.5rem );
  }
}

@supports not (--athrzm: clamp( 1.875rem , 1.6666666667rem  +  0.6944444444vw , 2.5rem )) {
  :root {
    --athrzm: calc(1.875rem + 0.625 * (100vw - 30rem) / 90);
  }
}

.bottom-newsNovosti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.9375rem , 0.7083333333rem  +  0.7638888889vw , 1.625rem )) {
  .bottom-newsNovosti {
    gap: clamp( 0.9375rem , 0.7083333333rem  +  0.7638888889vw , 1.625rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.7083333333rem  +  0.7638888889vw , 1.625rem )) {
  .bottom-newsNovosti {
    gap: calc(0.9375rem + 0.6875 * (100vw - 30rem) / 90);
  }
}

.bottom-newsNovosti__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.75rem , 0.6875rem  +  0.2083333333vw , 0.9375rem )) {
  .bottom-newsNovosti__author {
    gap: clamp( 0.75rem , 0.6875rem  +  0.2083333333vw , 0.9375rem );
  }
}

@supports not (gap: clamp( 0.75rem , 0.6875rem  +  0.2083333333vw , 0.9375rem )) {
  .bottom-newsNovosti__author {
    gap: calc(0.75rem + 0.1875 * (100vw - 30rem) / 90);
  }
}

.bottom-newsNovosti__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--athrzm);
          flex: 0 0 var(--athrzm);
  width: var(--athrzm);
  height: var(--athrzm);
  background-color: #eee;
  border-radius: 50%;
}

.bottom-newsNovosti__name {
  font-weight: 500;
}

@supports (font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem )) {
  .bottom-newsNovosti__name {
    font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem )) {
  .bottom-newsNovosti__name {
    font-size: calc(0.75rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.bottom-newsNovosti__date {
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

@supports (font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem )) {
  .bottom-newsNovosti__date {
    font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5416666667rem  +  0.2777777778vw , 0.875rem )) {
  .bottom-newsNovosti__date {
    font-size: calc(0.625rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.bottom-newsNovosti__date::before {
  content: "";
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.375rem;
          flex: 0 0 0.375rem;
  background-color: #ccc;
  border-radius: 50%;
}

.categories-novosti {
  position: relative;
  z-index: 2;
}

@supports (padding-top: clamp( 1.875rem , 0.6041666667rem  +  4.2361111111vw , 5.6875rem )) {
  .categories-novosti {
    padding-top: clamp( 1.875rem , 0.6041666667rem  +  4.2361111111vw , 5.6875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6041666667rem  +  4.2361111111vw , 5.6875rem )) {
  .categories-novosti {
    padding-top: calc(1.875rem + 3.8125 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 2.75rem , 2.3125rem  +  1.4583333333vw , 4.0625rem )) {
  .categories-novosti {
    padding-bottom: clamp( 2.75rem , 2.3125rem  +  1.4583333333vw , 4.0625rem );
  }
}

@supports not (padding-bottom: clamp( 2.75rem , 2.3125rem  +  1.4583333333vw , 4.0625rem )) {
  .categories-novosti {
    padding-bottom: calc(2.75rem + 1.3125 * (100vw - 30rem) / 90);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6666666667rem  +  0.6944444444vw , 2.5rem )) {
  .categories-novosti__head:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.6666666667rem  +  0.6944444444vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6666666667rem  +  0.6944444444vw , 2.5rem )) {
  .categories-novosti__head:not(:last-child) {
    margin-bottom: calc(1.875rem + 0.625 * (100vw - 30rem) / 90);
  }
}

.categories-novosti__title {
  font-weight: 700;
}

@supports (font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem )) {
  .categories-novosti__title {
    font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem )) {
  .categories-novosti__title {
    font-size: calc(1.25rem + 1.75 * (100vw - 30rem) / 90);
  }
}

.categories-novosti__body {
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 1rem , 2.4570685169rem  +  -1.2142237641vw , 1.875rem )) {
  .categories-novosti__body {
    gap: clamp( 1rem , 2.4570685169rem  +  -1.2142237641vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1rem , 2.4570685169rem  +  -1.2142237641vw , 1.875rem )) {
  .categories-novosti__body {
    gap: calc(1.875rem + -0.875 * (100vw - 47.9375rem) / 72.0625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1rem  +  2.9166666667vw , 4.5rem )) {
  .categories-novosti__body:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1rem  +  2.9166666667vw , 4.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1rem  +  2.9166666667vw , 4.5rem )) {
  .categories-novosti__body:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.625 * (100vw - 30rem) / 90);
  }
}

@supports (padding-top: clamp( 1.0625rem , 0.9166666667rem  +  0.4861111111vw , 1.5rem )) {
  .borders-newsNovosti {
    padding-top: clamp( 1.0625rem , 0.9166666667rem  +  0.4861111111vw , 1.5rem );
  }
}

@supports not (padding-top: clamp( 1.0625rem , 0.9166666667rem  +  0.4861111111vw , 1.5rem )) {
  .borders-newsNovosti {
    padding-top: calc(1.0625rem + 0.4375 * (100vw - 30rem) / 90);
  }
}

.borders-newsNovosti__item {
  font-family: Libre Franklin;
  border-top: 0.75px solid #ccc;
  line-height: 1.4;
}

@supports (padding-top: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem )) {
  .borders-newsNovosti__item {
    padding-top: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem );
  }
}

@supports not (padding-top: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem )) {
  .borders-newsNovosti__item {
    padding-top: calc(1.125rem + 0.375 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem )) {
  .borders-newsNovosti__item {
    padding-bottom: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.125rem , 1rem  +  0.4166666667vw , 1.5rem )) {
  .borders-newsNovosti__item {
    padding-bottom: calc(1.125rem + 0.375 * (100vw - 30rem) / 90);
  }
}

@supports (font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem )) {
  .borders-newsNovosti__item {
    font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6666666667rem  +  0.2777777778vw , 1rem )) {
  .borders-newsNovosti__item {
    font-size: calc(0.75rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.borders-newsNovosti__item:not(:last-child) {
  border-bottom: 0.75px solid #ccc;
}

.mhz-cabinet {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mhz-cabinet__container {
  position: relative;
  z-index: 2;
}

@supports (padding-top: clamp( 2.5rem , 1.875rem  +  2.0833333333vw , 4.375rem )) {
  .mhz-cabinet__container {
    padding-top: clamp( 2.5rem , 1.875rem  +  2.0833333333vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.875rem  +  2.0833333333vw , 4.375rem )) {
  .mhz-cabinet__container {
    padding-top: calc(2.5rem + 1.875 * (100vw - 30rem) / 90);
  }
}

@supports (--avarazm: clamp( 3.125rem , 0.0000000625rem  +  10.4166666667vw , 12.5rem )) {
  :root {
    --avarazm: clamp( 3.125rem , 0.0000000625rem  +  10.4166666667vw , 12.5rem );
  }
}

@supports not (--avarazm: clamp( 3.125rem , 0.0000000625rem  +  10.4166666667vw , 12.5rem )) {
  :root {
    --avarazm: calc(3.125rem + 9.375 * (100vw - 30rem) / 90);
  }
}

.hero-cabinet {
  background-color: #E83232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

@supports (min-height: clamp( 6.25rem , 0.0000000625rem  +  20.8333333333vw , 25rem )) {
  .hero-cabinet {
    min-height: clamp( 6.25rem , 0.0000000625rem  +  20.8333333333vw , 25rem );
  }
}

@supports not (min-height: clamp( 6.25rem , 0.0000000625rem  +  20.8333333333vw , 25rem )) {
  .hero-cabinet {
    min-height: calc(6.25rem + 18.75 * (100vw - 30rem) / 90);
  }
}

@supports (padding-left: clamp( 1.875rem , 1.2291666667rem  +  2.1527777778vw , 3.8125rem )) {
  .hero-cabinet {
    padding-left: clamp( 1.875rem , 1.2291666667rem  +  2.1527777778vw , 3.8125rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , 1.2291666667rem  +  2.1527777778vw , 3.8125rem )) {
  .hero-cabinet {
    padding-left: calc(1.875rem + 1.9375 * (100vw - 30rem) / 90);
  }
}

.hero-cabinet__back {
  position: absolute;
  top: 1.875rem;
  left: 1.5rem;
  z-index: 3;
}

.hero-cabinet__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-cabinet__avatar {
  background-color: #E2E2E2;
  border-radius: 50%;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--avarazm);
          flex: 0 0 var(--avarazm);
  width: var(--avarazm);
  height: var(--avarazm);
}

.hero-cabinet__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-cabinet__name {
  color: #fff;
  font-weight: 700;
}

@supports (font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem )) {
  .hero-cabinet__name {
    font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.6666666667rem  +  1.9444444444vw , 3rem )) {
  .hero-cabinet__name {
    font-size: calc(1.25rem + 1.75 * (100vw - 30rem) / 90);
  }
}

.main-cabinet {
  position: relative;
}

.main-cabinet__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0.625rem;
  padding-bottom: 2.125rem;
}

@supports (padding-top: clamp( 2.5rem , 1.6666666667rem  +  2.7777777778vw , 5rem )) {
  .main-cabinet__navigation {
    padding-top: clamp( 2.5rem , 1.6666666667rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.6666666667rem  +  2.7777777778vw , 5rem )) {
  .main-cabinet__navigation {
    padding-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 90);
  }
}

@supports (gap: clamp( 2rem , 1.8333333333rem  +  0.5555555556vw , 2.5rem )) {
  .main-cabinet__navigation {
    gap: clamp( 2rem , 1.8333333333rem  +  0.5555555556vw , 2.5rem );
  }
}

@supports not (gap: clamp( 2rem , 1.8333333333rem  +  0.5555555556vw , 2.5rem )) {
  .main-cabinet__navigation {
    gap: calc(2rem + 0.5 * (100vw - 30rem) / 90);
  }
}

@supports (padding-left: clamp( 1.4375rem , 0.6458333333rem  +  2.6388888889vw , 3.8125rem )) {
  .main-cabinet__navigation {
    padding-left: clamp( 1.4375rem , 0.6458333333rem  +  2.6388888889vw , 3.8125rem );
  }
}

@supports not (padding-left: clamp( 1.4375rem , 0.6458333333rem  +  2.6388888889vw , 3.8125rem )) {
  .main-cabinet__navigation {
    padding-left: calc(1.4375rem + 2.375 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__link {
  line-height: 1.4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__link {
    font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__link {
    font-size: calc(1.25rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__link_bold {
  font-weight: 700;
}

.main-cabinet__link._active {
  color: #E83232;
}

.main-cabinet__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
  padding-left: 2.6875rem;
  padding-right: 2.6875rem;
}

@supports (padding-top: clamp( 2.5rem , 1.6666666667rem  +  2.7777777778vw , 5rem )) {
  .main-cabinet__body {
    padding-top: clamp( 2.5rem , 1.6666666667rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.6666666667rem  +  2.7777777778vw , 5rem )) {
  .main-cabinet__body {
    padding-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 3.9375rem , 3.5208333333rem  +  1.3888888889vw , 5.1875rem )) {
  .main-cabinet__body {
    padding-bottom: clamp( 3.9375rem , 3.5208333333rem  +  1.3888888889vw , 5.1875rem );
  }
}

@supports not (padding-bottom: clamp( 3.9375rem , 3.5208333333rem  +  1.3888888889vw , 5.1875rem )) {
  .main-cabinet__body {
    padding-bottom: calc(3.9375rem + 1.25 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.4375rem , 0.4375rem  +  3.3333333333vw , 4.4375rem )) {
  .main-cabinet__row {
    gap: clamp( 1.4375rem , 0.4375rem  +  3.3333333333vw , 4.4375rem );
  }
}

@supports not (gap: clamp( 1.4375rem , 0.4375rem  +  3.3333333333vw , 4.4375rem )) {
  .main-cabinet__row {
    gap: calc(1.4375rem + 3 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 1.9375rem , 1.75rem  +  0.625vw , 2.5rem )) {
  .main-cabinet__row:not(:last-child) {
    padding-bottom: clamp( 1.9375rem , 1.75rem  +  0.625vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.9375rem , 1.75rem  +  0.625vw , 2.5rem )) {
  .main-cabinet__row:not(:last-child) {
    padding-bottom: calc(1.9375rem + 0.5625 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-cabinet__item .select__title {
  border: none;
  background-color: #eee;
}

@supports (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__item .select__title {
    font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__item .select__title {
    font-size: calc(1.25rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__item .select__title .select__value {
  padding: 1.3125rem 1.9375rem;
  height: auto;
  line-height: 2.375rem;
}

.main-cabinet__item .select__options {
  background-color: #eee;
  top: 3.9375rem;
}

@supports (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__item .select__options {
    font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__item .select__options {
    font-size: calc(1.25rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__item .select__options .select__option {
  padding: 1.3125rem 1.9375rem;
}

@supports (padding-top: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__item .select__options .select__option {
    padding-top: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__item .select__options .select__option {
    padding-top: calc(0.9375rem + 0.5625 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__item .select__options .select__option {
    padding-bottom: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__item .select__options .select__option {
    padding-bottom: calc(0.9375rem + 0.5625 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__item .select__options .select__option._select-selected {
  background-color: #ccc;
}

.main-cabinet__label {
  color: #666;
}

@supports (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__label {
    font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__label {
    font-size: calc(1.25rem + 0.25 * (100vw - 30rem) / 90);
  }
}

@supports (margin-bottom: clamp( 0.6875rem , 0.2708333333rem  +  1.3888888889vw , 1.9375rem )) {
  .main-cabinet__label:not(:last-child) {
    margin-bottom: clamp( 0.6875rem , 0.2708333333rem  +  1.3888888889vw , 1.9375rem );
  }
}

@supports not (margin-bottom: clamp( 0.6875rem , 0.2708333333rem  +  1.3888888889vw , 1.9375rem )) {
  .main-cabinet__label:not(:last-child) {
    margin-bottom: calc(0.6875rem + 1.25 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__input {
  width: 100%;
  color: #333333;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding-top: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__input {
    padding-top: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__input {
    padding-top: calc(0.9375rem + 0.5625 * (100vw - 30rem) / 90);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__input {
    padding-bottom: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.75rem  +  0.625vw , 1.5rem )) {
  .main-cabinet__input {
    padding-bottom: calc(0.9375rem + 0.5625 * (100vw - 30rem) / 90);
  }
}

@supports (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__input {
    font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1666666667rem  +  0.2777777778vw , 1.5rem )) {
  .main-cabinet__input {
    font-size: calc(1.25rem + 0.25 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__input._form-error {
  outline: 1px solid #E83232;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(232, 50, 50, 0.7);
          box-shadow: 0px 0px 20px 0px rgba(232, 50, 50, 0.7);
}

.main-cabinet__textarea {
  width: 100%;
  resize: none;
  color: #333333;
  background-color: #eee;
  border-radius: 0.5rem;
}

@supports (min-height: clamp( 6.25rem , 5rem  +  4.1666666667vw , 10rem )) {
  .main-cabinet__textarea {
    min-height: clamp( 6.25rem , 5rem  +  4.1666666667vw , 10rem );
  }
}

@supports not (min-height: clamp( 6.25rem , 5rem  +  4.1666666667vw , 10rem )) {
  .main-cabinet__textarea {
    min-height: calc(6.25rem + 3.75 * (100vw - 30rem) / 90);
  }
}

.main-cabinet__submit {
  color: #fff;
  background-color: #E83232;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.9375rem;
  border: 1px solid #E83232;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

[hidden] {
  display: none !important;
}

._roboto {
  font-family: "Roboto";
}

@media (min-width: 47.99875em) {
  .spollers-docs__item {
    -ms-grid-columns: minmax(20.625rem, 0rem) auto;
    grid-template-columns: minmax(20.625rem, 0rem) auto;
  }

  .spollers-docs__body {
    padding-left: 2.25rem;
    position: absolute;
    top: 0;
    left: 20.625rem;
    height: 100%;
    overflow: auto;
    -webkit-transition-property: all !important;
    -o-transition-property: all !important;
    transition-property: all !important;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .spollers-docs__body._slide {
    opacity: 0;
  }

  .novosti {
    position: relative;
  }

  .novosti::before {
    content: "";
    display: inline-block;
    width: 100%;
    z-index: 1;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: #eee;
    top: calc(var(--top) + var(--nwspt));
  }

  .novosti__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.0625rem;
  }

  .hero-novosti__main {
    border-top: 1px solid #333;
  }

  .sidebar-novosti {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25rem;
            flex: 0 0 25rem;
  }

  .categories-novosti__item_large {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .mhz-cabinet {
    position: relative;
    padding-bottom: 7.5rem;
  }

  .mhz-cabinet::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 81%;
    background-color: #eee;
  }

  .hero-cabinet__back {
    display: none;
  }

  .hero-cabinet__body {
    gap: 5.4375rem;
    -webkit-transform: translateY(2.125rem);
        -ms-transform: translateY(2.125rem);
            transform: translateY(2.125rem);
  }

  .main-cabinet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-cabinet__navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (min-width: 61.99875em) {
  .categories-novosti__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 78.75em) {
  .tags-novosti {
    padding-top: 2.0625rem !important;
  }
}

@media (max-width: 20em) {
  .tags-novosti {
    padding-top: 1.9375rem !important;
  }
}

@media (max-width: 47.99875em) {
  .mhz-docs__body {
    background-color: #EEEEEE;
    margin: 0 -0.9375rem;
    padding: 0 0.9375rem 0.9375rem;
  }

  .spollers-docs__title {
    padding: 0.9375rem 0.625rem;
  }

  .novosti {
    background: #eee;
  }

  .novosti__sidebar {
    max-width: 0;
  }

  .tags-novosti__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .news-novosti {
    padding-bottom: 1.875rem;
  }

  .news-novosti__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }

  .news-novosti__item {
    gap: 0.75rem;
    border-radius: 0.375rem;
    padding: 1.125rem 0.9375rem 0.625rem;
  }

  .news-novosti__image {
    border-radius: 0.375rem;
  }

  .categories-novosti__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .categories-novosti__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .mhz-cabinet {
    background-color: #eee;
  }

  .hero-cabinet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero-cabinet__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }

  .hero-cabinet__name {
    font-weight: 400;
  }

  .main-cabinet {
    overflow: hidden;
  }

  .main-cabinet__body {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateX(150%);
        -ms-transform: translateX(150%);
            transform: translateX(150%);
  }

  .main-cabinet__body._active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .main-cabinet__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .spollers-docs__title:hover {
    background-color: #ccc;
  }

  .spollers-docs__body a:hover {
    text-decoration: underline;
  }

  .hero-novosti__links ul a:hover {
    color: #E83232;
    text-decoration: underline;
  }

  .showmore-novosti__item:hover .showmore-novosti__title {
    color: #E83232;
  }

  .showmore-novosti__more:hover svg path {
    fill: #333;
  }

  .tags-novosti__item:hover {
    font-weight: 400;
    color: #E83232;
    background-color: #fff;
  }

  .news-novosti__tag:hover {
    color: #E83232;
    font-weight: 400;
    background-color: #fff;
  }

  .news-novosti__title:hover {
    color: #E83232;
  }

  .news-novosti__more:hover {
    color: #E83232;
    background-color: #fff;
  }

  .info-newsNovosti__item_save:hover svg path {
    fill: #E83232;
    stroke: #E83232;
  }

  .main-cabinet__link:hover {
    color: #E83232;
  }

  .main-cabinet__submit:hover {
    color: #E83232;
    background-color: transparent;
  }
}